 @import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Inter:wght@300;400;600&family=Space+Mono:wght@400;700&display=swap');

 :root {
     --bg-color: #f8f9fa;
     --text-color: #2d3436;
     --border-color: #cbd5e0;
     --accent-color: #3b82f6;
     --card-bg: #ffffff;
     --font-main: 'Inter', sans-serif;
     --font-mono: "Libertinus Mono", monospace;
     --border-width: 1px;
     --shadow-style: none;
     --grid-pattern: radial-gradient(#cbd5e0 1px, transparent 1px);
 }

 .jersey-10-regular {
     font-family: "Jersey 10", sans-serif;
     font-weight: 400;
     font-style: normal;
 }

 body {
     background-color: var(--bg-color);
     color: var(--text-color);
     /* font-family: var(--font-main); */
     transition: all 0.3s ease;
     background-image: var(--grid-pattern);
     background-size: 20px 20px;
     font-family: "Libertinus Mono", monospace;
     font-weight: 400;
     font-style: normal;

 }


 .invertkrde {
     filter: invert(1) hue-rotate(222deg) saturate(1.25)
 }

 .invertkrde img {
     filter: invert(1) hue-rotate(-222deg) saturate(1)
 }

 .theme-card {
     background-color: var(--card-bg);
     border: var(--border-width) solid var(--border-color);
     box-shadow: var(--shadow-style);
 }

 .theme-card-tr {
     background-color: var(--card-bg);
     border-top: 1px solid var(--border-color);
     border-right: 1px solid var(--border-color);
     box-shadow: var(--shadow-style);
 }

 .theme-card-tl {
     background-color: var(--card-bg);
     border-top: 1px solid var(--border-color);
     border-left: 1px solid var(--border-color);
     box-shadow: var(--shadow-style);
 }

 .theme-card-bl {
     background-color: var(--card-bg);
     border-bottom: 1px solid var(--border-color);
     border-right: 1px solid var(--border-color);
     box-shadow: var(--shadow-style);
 }

 .theme-card-br {
     background-color: var(--card-bg);
     border-bottom: 1px solid var(--border-color);
     border-left: 1px solid var(--border-color);
     box-shadow: var(--shadow-style);
 }

 /* .theme-card-bg {
     background-color: var(--card-bg);
 } */

 .mono-font {
     font-family: var(--font-mono);
 }

 .hidden {
     display: none !important;
 }

 input,
 button,
 select {
     outline: none;
 }

 /* Custom Scrollbar for code blocks */
 ::-webkit-scrollbar {
     width: 8px;
     height: 8px;
 }

 ::-webkit-scrollbar-track {
     background: var(--bg-color);
 }

 ::-webkit-scrollbar-thumb {
     background: var(--border-color);
 }

 /* Loading Animation */
 .loader-line {
     width: 100%;
     height: 3px;
     position: relative;
     overflow: hidden;
     background-color: var(--border-color);
 }

 .loader-line:before {
     content: "";
     position: absolute;
     left: -50%;
     height: 3px;
     width: 40%;
     background-color: var(--text-color);
     animation: lineAnim 1s linear infinite;
 }

 @keyframes lineAnim {
     0% {
         left: -40%;
     }

     50% {
         left: 20%;
         width: 80%;
     }

     100% {
         left: 100%;
         width: 100%;
     }
 }

 .grade-circle {
     width: 80px;
     height: 80px;
     border: var(--border-width) solid var(--border-color);
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 2.5rem;
     font-weight: bold;
     font-family: var(--font-mono);
 }


 .wave-text {
     position: relative;
     display: inline-block;
     background: linear-gradient(120deg,
             rgba(61, 59, 59, 0.24) 20%,
             rgb(10, 10, 10) 50%,
             rgba(61, 59, 59, 0.24) 80%);

     background-size: 200% 100%;
     background-position: -200% 0;

     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     animation: waveMove 3s linear infinite;
 }

 @keyframes waveMove {
     0% {
         background-position: 200% 0;
     }

     100% {
         background-position: -200% 0;
     }
 }